.deliveries {
  background-color: #405061;
}

.deliveries small {
  color:white;
}

a { 
  display: block; 
  color: #eee;
  text-decoration: none;
}

button {
  margin-top: 1px;
  background-color: #eee;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 1rem;
}
.button1 {
  background-color: #4CAF50;
} 

button:hover {
  background-color: #cfd8dc;
}
