<h2>My Deliveries</h2>
<ul class="deliveries">

  <table class="table table-striped table-dark">
    <thead><tr>
      <th><button type="button" (click)="sortData('id')">Warehouse Id</button></th>
      <th><button type="button" (click)="sortData('destinationWarehouseId')">Destination Warehouse Id</button></th>
      <th><button type="button" (click)="sortData('date')">Date</button></th>
    </tr></thead>
    <tbody>
      <tr *ngFor=" let delivery of deliveries | paginate: { 
        itemsPerPage:tablesize,currentPage:page,totalItems: count}; let i=index">

        <td scope="row"><a routerLink ="/deliveries/{{delivery.id}}">{{ delivery.id }}</a></td>
        <td>{{ delivery.destinationWarehouseId }}</td>
        <td>{{ delivery.date }}</td>
      </tr>
    </tbody>
  </table> 

<div>
  <small>Deliveries per Page </small>
    <select (change)="onTableSizeChange($event)">
    <option *ngFor="let size of tablesizes">
      {{size}}
    </option>
  </select>
</div>
<button type="button" (click)="goBack()">GoBack</button> 
</ul>