<div class="container d-flex justify-content-around mt-5 align-items-center w-100 ">

  <div class="get-paths-center">
    <button type="button" class="btn btn-success" routerLink="/get-paths"> Get Paths
    </button>
  </div>

  <div class="create-paths-center">
    <button type="button" class="btn btn-warning" routerLink="/create-paths">Create a path
    </button>
  </div>

  <div class="get-planning-center">
    <button type="button" class="btn btn-danger" routerLink="/get-planning"> Get planning
    </button>
  </div>

  <div class="get-planning-center">
    <button type="button" class="btn btn-primary" routerLink="/get-geneticplanning"> Get GA planning
    </button>
  </div>

  <div class="get-packagings-center">
    <button type="button" class="btn btn-info" routerLink="/get-packagings"> Get Packagings
    </button>
  </div>

  <div class="create-packaging-center">
    <button type="button" class="btn btn-dark" routerLink="/create-packaging">Create a Packaging
    </button>
  </div>

  <div class="get-packaging-center">
    <button type="button" class="btn btn-light" routerLink="/get-packaging"> Get Packaging
    </button>
  </div>

  <div class="put-packaging-center">
    <button type="button" class="btn btn-primary" routerLink="/put-packaging"> Put Packaging
    </button>
  </div>
</div>