<div class="container">
    <style>
      .get-paths-center {
        margin: 0;
        position: absolute;
        top: 20%;
        right: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .get-a-path-center {
        margin: 0;
        position: absolute;
        top: 45%;
        right: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      .create-paths-center {
        margin: 0;
        position: absolute;
        top: 70%;
        right: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
  
    </style>

<div class="get-paths-center">
  <button type="button">
    <a class="btn" routerLink="/get-paths">Get Paths</a>
  </button>
</div>

    <div class="get-a-path-center">
      <button type="button">
        <a class="btn" routerLink="/get-a-path">Get a Path</a>
      </button>
    </div>

    <div class="create-paths-center">
      <button type="button">
        <a class="btn" routerLink="/create-paths">Create a path</a>
      </button>
   </div>
</div>