<div class="container">
    <style>
      .get-paths-center {
        margin: 0;
        position: absolute;
        top: 20%;
        right: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .get-a-path-center {
        margin: 0;
        position: absolute;
        top: 35%;
        right: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      .update-paths-center {
        margin: 0;
        position: absolute;
        top: 50%;
        right: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .create-paths-center {
        margin: 0;
        position: absolute;
        top: 65%;
        right: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      .partially-update-paths-center {
        margin: 0;
        position: absolute;
        top: 80%;
        right: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    </style>

    <div class="get-paths-center">
      <button type="button">
        <a class="btn" routerLink="/register">Getaths</a>
      </button>
    </div>

    <div class="get-a-path-center">
      <button type="button">
        <a class="btn" routerLink="/register">Get a Path</a>
      </button>
    </div>

    <div class="create-paths-center">
      <button type="button">
        <a class="btn" routerLink="/login">Create a path</a>
      </button>
    </div>

  <div class="update-paths-center">
    <button type="button">
      <a class="btn" routerLink="/register">Update Paths</a>
    </button>
  </div>

  <div class="partially-update-paths-center">
    <button type="button">
      <a class="btn" routerLink="/register">Update specific Path parameter</a>
    </button>
  </div>
</div>