output {
    margin: 0;
    position: absolute;
    top: 20%;
    right: 50%;
    -ms-transform: translateY(0%);
    transform: translateY(-50%);
}
label {
    color: #eaeaea;
    font-weight: bold;
  }
  input-box {
    font-size: 1em;
    padding: .9rem;
    align-items: flex-end;
  }
  button {
    margin-top: 20px;
    background-color: rgb(243, 243, 243);
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  button:hover {
    background-color: #94c6ff;
  }
  button:disabled {
    background-color: #b5deff;
    color: rgb(168, 168, 168);
    cursor: auto;
  }
