<h2>My Packagings</h2>
<ul class="Packagings">

  <table class="table table-striped table-dark">
    <thead><tr>
      <th><button type="button" (click)="sortData('id')">Packaging Id</button>
      <input type="text" [(ngModel)]="filterText1" (ngModelChange)="filterPackagingsById()"></th>
      <th><button type="button" (click)="sortData('boxId')">Box Id</button>
      <input type="text" [(ngModel)]="filterText2" (ngModelChange)="filterPackagingsByBoxId()"></th>
      <th><button type="button" (click)="sortData('positionX')">PositionX</button>
      <input type="text" [(ngModel)]="filterText3" (ngModelChange)="filterPackagingsByPositionX()"></th>
      <th><button type="button" (click)="sortData('positionY')">PositionY</button>
      <input type="text" [(ngModel)]="filterText4" (ngModelChange)="filterPackagingsByPositionY()"></th>
      <th><button type="button" (click)="sortData('positionZ')">PositionZ</button>
      <input type="text" [(ngModel)]="filterText5" (ngModelChange)="filterPackagingsByPositionZ()"></th>
    </tr></thead>
    <tbody>
      <tr *ngFor="let packaging of packagings | paginate: { 
        itemsPerPage:tablesize,currentPage:page,totalItems: count}; let i=index">

        <td scope="row"><a routerLink ="/packagings/{{packaging.id}}">{{ packaging.id }}</a></td>
        <td><a routerLink ="/packagings/{{packaging.id}}">{{ packaging.boxId }}</a></td>
        <td><a routerLink ="/packagings/{{packaging.id}}">{{ packaging.positionX }}</a></td>
        <td><a routerLink ="/packagings/{{packaging.id}}">{{ packaging.positionY }}</a></td>
        <td><a routerLink ="/packagings/{{packaging.id}}">{{ packaging.positionZ }}</a></td>
      </tr>
    </tbody>
  </table> 

<div>
  <small>Packagings per Page </small>
    <select (change)="onTableSizeChange($event)">
    <option *ngFor="let size of tablesizes">
      {{size}}
    </option>
  </select>
</div>

<div class="d-flex align-items-start">
  <pagination-controls
  previousLabel="Prev"
  nextLabel="Next"
  (pageChange)="onTableDataChange($event)">
</pagination-controls>
</div>

<button type="button" (click)="goBack()">GoBack</button> 
</ul>