label {
    color: #2927ad;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .9rem;
  }
  button {
    margin-top: 20px;
    background-color: rgb(47, 72, 212);
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  button:hover {
    background-color: #2dfd29;
  }
  button:disabled {
    background-color: #d42d2d;
    color: #ccc;
    cursor: auto;
  }
