<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">EletricGo</a>
    <asl-google-signin-button type='icon' size='medium'></asl-google-signin-button>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="btn btn-secondary" routerLink="home">Home </a>
      </li>
      <div class="nav-item">
        <button type="button" class="btn btn-secondary" routerLink="admin"> Admin Board
       </button>
         </div>
      <li class="nav-item" *ngIf="showFleetBoard">
        <a href="/fleet" class="nav-link" routerLink="fleet">Fleet Board</a>
      </li>
      <li class="nav-item" *ngIf="showWarehouseBoard">
        <a href="/warehouse" class="nav-link" routerLink="warehouse">Warehouse Board</a>
      </li>
      <li class="nav-item" *ngIf="showLogisticsBoard">
        <a href="/logistics" class="nav-link" routerLink="logistics">Logistics Board</a>
      </li>
    </ul>

    
    <button type="button" class="btn btn-primary m-1" routerLink="/login"> Login
     </button>
       
         
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<div *ngIf="socialAuthService.authState | async as socialUser">
  <p>Hello, {{socialUser.name}}!</p>
  <p>Your email: {{socialUser.email}}</p>
  <button mat-raised-button (click)="logout()">Logout</button>
</div>

