<div id="app">
  <nav id="bar" class="navbar navbar-expand navbar-dark bg-dark">
    <a href="home" class="navbar-brand" routerLink="">EletricGo</a>
 
<ul class="navbar-nav mr-auto" routerLinkActive="active">
  <!--<div class="nav-item">
    <button id="b2" type="button" class="btn btn-secondary" routerLink="admin"> Admin Board</button>
     </div>-->
  <button *ngIf="loggedIn" id="logOut" mat-raised-button (click)="logout()">Logout</button>
</ul>
 </nav>
    <router-outlet *ngIf="loggedIn"></router-outlet>
  <div *ngIf="!loggedIn" class="container">
    <div class="screen">
      <div class="screen__content">
        <form class="login">
          <asl-google-signin-button id="b1" type="standard" size="large" theme="filled_blue" shape="circle" ></asl-google-signin-button>	
          <div class="alert alert-warning" *ngIf="isSignInFailed">
            Signup failed!
          </div>
        </form>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>		
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>		
    </div>
  </div>
</div>
<!--<div *ngIf="socialAuthService.authState | async as socialUser">
  <p>Hello, {{socialUser.name}}!</p>
  <p>Your email: {{socialUser.email}}</p>
  <button mat-raised-button (click)="logout()">Logout</button>
</div>-->

