<div class="container">
    <div class="output">
        <li *ngIf="!error">
            <span class="badge">{{packaging.id}}</span>
            {{packaging.boxId}},{{packaging.positionX}},{{packaging.positionY}},{{packaging.positionZ}}
        </li>
        <li *ngIf="error">
            <p>{{ content }}</p>
        </li>
    </div>

    <div class="input-box">
        <form #packagingForm="ngForm" (ngSubmit)="postPackaging(packagingForm.value)">
          <label>Box Id: </label>
          <input type="text" name="boxId" ngModel>
    
          <label>Position X: </label>
          <input type="text" name="positionX" ngModel>
    
          <label>Position Y: </label>
          <input type="text" name="positionY" ngModel>
    
          <label>Position Z: </label>
          <input type="text" name="positionZ" ngModel>

          <h1></h1>
          <input type="submit" value="Create Packaging">
        </form>
    </div>
    <div class="d-flex align-items-right">
        <button type="button" class="btn btn-light" routerLink="/logistics">Go Back
        </button>
      </div>
</div>