.output {
    margin: 0;
    position: absolute;
    top: 20%;
    right: 50%;
    -ms-transform: translateY(0%);
    transform: translateY(-50%);
}
label {
  color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .9rem;
  }
  button {
    margin-top: 20px;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  button:hover {
    background-color: rgb(199, 199, 199);
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
