<div *ngIf="truck">
    <!--<h2>{{truck.description | uppercase}} Truck Details</h2>-->
    <div><span>id: </span>{{truck.id}}</div>
    <div>
      <label for="truck-plate">plate: </label>
      <input id="truck-plate" [(ngModel)]="truck.plate" placeholder="truck plate"/>
      <br>
      <br>
      <label for="truck-tare">tare: </label>
      <input id="truck-tare" [(ngModel)]="truck.tare" placeholder="truck tare"/>
      <br>
      <br>
      <label for="truck-maxWeight">max weight: </label>
      <input id="truck-maxWeight" [(ngModel)]="truck.maxWeight" placeholder="truck max weight"/>
      <br>
      <br>
      <label for="truck-batteryCapacity">battery capacity: </label>
      <input id="truck-batteryCapacity" [(ngModel)]="truck.batteryCapacity" placeholder="truck battery capacity"/>
      <br>
      <br>
      <label for="truck-truckAutonomy">truck autonomy: </label>
      <input id="truck-truckAutonomy" [(ngModel)]="truck.truckAutonomy" placeholder="truck autonomy"/>
      <br>
      <br>
      <label for="truck-chargeTime">charge time: </label>
      <input id="truck-chargeTime" [(ngModel)]="truck.chargeTime" placeholder="truck charge time"/>
    </div>
    <button type="button" (click)="goBack()">Go back</button>
    <button type="button" (click)="save()">Save</button>
    
    <button #myButton [innerHTML]="buttonText" (click)="updateTruck()">Disable</button>
  </div>
