<div *ngIf="packaging">
<!--     <h2>Packaging {{packaging.id | uppercase}} Details</h2> -->
    <div><label class="labelbig">id: {{packaging.id}}</label></div>
    <div>
      <label for="packaging-boxId">boxId: </label>
      <input id="packaging-boxId" [(ngModel)]="packaging.boxId" placeholder="packaging boxId"/>
      <br>
      <br>
      <label for="packaging-positionX">positionX: </label>
      <input id="packaging-positionX" [(ngModel)]="packaging.positionX" placeholder="packaging positionX"/>
      <br>
      <br>
      <label for="packaging-positionY">positionY: </label>
      <input id="packaging-positionY" [(ngModel)]="packaging.positionY" placeholder="packaging positionY"/>
      <br>
      <br>
      <label for="packaging-positionZ">positionZ: </label>
      <input id="packaging-positionZ" [(ngModel)]="packaging.positionZ" placeholder="packaging positionZ"/>
      <br>
      <br>
    </div>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="Save()">Save</button>
  </div>
  