.signup-center {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .login-center {
    margin: 0;
    position: absolute;
    top: 60%;
    right: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .fleet-button {
    margin: 0;
    position: absolute;
    top: 40%;
    right: 20%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .warehouse-button {
    margin: 0;
    position: absolute;
    top: 45%;
    right: 20%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .logistics-button {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 20%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .admin-button {
    margin: 0;
    position: absolute;
    top: 55%;
    right: 20%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }