<div class="container">
  <div class="fleet-button">
    <button type="button">
      <a class="btn" routerLink="/fleet">Fleet Manager</a>
    </button>
  </div>

  <div class="warehouse-button">
    <button type="button">
      <a class="btn" routerLink="/warehouse">Warehouse Manager</a>
    </button>
  </div>

  <div class="logistics-button">
    <button type="button">
      <a class="btn" routerLink="/logistics">Logistics Manager</a>
    </button>
  </div>

  <div class="admin-button">
    <button type="button">
      <a class="btn" routerLink="/admin">Admin</a>
    </button>
  </div>
</div>