.output {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 60%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.input-box {
    margin: 0;
    position: absolute;
    top: 40%;
    right: 20%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.get-button {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 20%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}