<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control"
        name="firstName"
        [(ngModel)]="form.firstName"
        required
        minlength="3"
        maxlength="20"
        #firstName="ngModel"
      />
      <div class="alert-danger" *ngIf="firstName.errors && f.submitted">
        <div *ngIf="firstName.errors.required">Name is required</div>
        <div *ngIf="firstName.errors.minlength">
          Name must be at least 3 characters
        </div>
        <div *ngIf="firstName.errors.maxlength">
          Name must be at most 50 characters
        </div> 
      </div> 
    </div> 
    <div class="form-group">
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          name="lastName"
          [(ngModel)]="form.lastName"
          required
          minlength="3"
          maxlength="20"
          #lastName="ngModel"
        />
        <div class="alert-danger" *ngIf="lastName.errors && f.submitted">
          <div *ngIf="lastName.errors.required">Username is required</div>
          <div *ngIf="lastName.errors.minlength">
            Username must be at least 3 characters
          </div>
          <div *ngIf="lastName.errors.maxlength">
            Username must be at most 20 characters
          </div>
        </div>
      </div>
      <label for="phoneNumber">PhoneNumber</label>
      <input
        type="phoneNumber"
        class="form-control"
        name="phoneNumber"
        [(ngModel)]="form.phoneNumber"
        required
        phoneNumber
        minlength="9"
        maxlength="9"
        #phoneNumber="ngModel"
      /> 
      <div class="alert-danger" *ngIf="phoneNumber.errors && f.submitted">
        <div *ngIf="phoneNumber.errors.required">Phone Number is required</div>
        <div *ngIf="form.phoneNumber.errors.minlength">
          Phone Number must be 9 characters
        </div>
        <div *ngIf="form.phoneNumber.errors.maxlength">
          Phone Number must be 9 characters
        </div> 
      </div> 
    </div> 
    
    <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="form.email"
        required
        email
        #email="ngModel"
      /> 
      <div class="alert-danger" *ngIf="email.errors && f.submitted">
        <div *ngIf="email.errors.required">Phone Number is required</div>
      </div> 

      <div class="form-group">
        <label for="role">Role</label>
        <select
          type="role"
          class="form-control"
          name="role"
          [(ngModel)]="form.role"
          required
          #role="ngModel"
        >
        <option value="Admin">Admin</option>
        <option value="Warehouse Manager">Warehouse Manager</option>
        <option value="Fleet Manager">Fleet Manager</option>
        <option value="Logistics Manager">Logistics Manager</option>
        </select>
        <div class="alert-danger" *ngIf="role.errors && f.submitted">
          <div *ngIf="role.errors.required">Role is required</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>