<h2>List of Trucks</h2>
<ul class="trucks">
  <br>
  <form>
    <label for="checkbox1">All</label>
    <input type="checkbox" [(ngModel)]="checkbox1" [ngModelOptions]="{standalone: true}" (change)="updateList()" (click)="uncheckOthers(1)" checked>
  
    <label for="checkbox2">Enabled</label>
    <input type="checkbox" [(ngModel)]="checkbox2" [ngModelOptions]="{standalone: true}" (change)="updateList()" (click)="uncheckOthers(2)">
  
    <label for="checkbox3">Disabled</label>
    <input type="checkbox" [(ngModel)]="checkbox3" [ngModelOptions]="{standalone: true}" (change)="updateList()" (click)="uncheckOthers(3)">
  </form>
<!--   <br>
  <li *ngFor="let truck of trucks">
    <a routerLink="/trucks/{{truck.id}}">
    <span class="badge">{{truck.plate}}</span>
    </a>
  </li>
  <br> -->
  <br>
  <table class="table table-striped table-dark table-hover">
    <thead><tr>
      <th>
      Plate
      </th>
      <th>
      Tare
      </th>
      <th>
        Max Weight
      </th>
      <th>
        Battery Capacity
      </th>
      <th>
      Autonomy
      </th>
      <th>
        Charge Time
      </th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let truck of trucks | paginate: { 
        itemsPerPage:tablesize,currentPage:page,totalItems: count}; let i=index">
     <th scope="row">
      <a routerLink="/trucks/{{truck.id}}">{{ truck.plate }}</a>
     </th>
        <td>
          <a routerLink="/trucks/{{truck.id}}">{{ truck.tare }}</a>
        </td>
        <td>
          <a routerLink="/trucks/{{truck.id}}">{{ truck.maxWeight }}</a>
        </td>
        <td>
          <a routerLink="/trucks/{{truck.id}}">{{ truck.batteryCapacity }}</a>
        </td>
        <td>
          <a routerLink="/trucks/{{truck.id}}">{{ truck.truckAutonomy }}</a>
        </td>
        <td>
          <a routerLink="/trucks/{{truck.id}}">{{ truck.chargeTime }}</a>
        </td>
      </tr>
    </tbody>
  </table>   

  <div>
    <small>Trucks per Page </small>
      <select (change)="onTableSizeChange($event)">
      <option *ngFor="let size of tablesizes">
        {{size}}
      </option>
    </select>
  </div>
  
  <div class="d-flex align-items-start">
      <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)">
    </pagination-controls>
    </div>
  <br>

  <button type="button" (click)="goBack()">Go Back</button>
</ul>
